.divall{
    display: flex;
    justify-content: space-between;
    margin:50px;
    margin-right: 90px;
    height:600px;
    
}

button{
    background-color: green;
    width:100px;
    height:30px;
    border-radius: 10px;

}
img{
    width:500px;
    height:200px;

}
ul{
    list-style-type: none;
}
li{
    margin: 30px;
    
}